[submodule "firmware/ST/STM32CubeF2"]
	path = firmware/ST/STM32CubeF2
	url = https://github.com/STMicroelectronics/STM32CubeF2.git
[submodule "firmware/espresif/esp-idf"]
	path = firmware/espressif/esp-idf-v5.0.1
	url = https://github.com/espressif/esp-idf.git
[submodule "middleware/uswift"]
	path = middleware/uswift
	url = git@github.com:mipalgu/uswift.git
	branch = development
[submodule "projects/fpga/EmptyProject/vivado_project"]
	path = projects/fpga/EmptyProject/vivado_project
	url = https://github.com/mipalgu/EmptyProject.git
[submodule "projects/fpga/LLFSMExample/vivado_project"]
	path = projects/fpga/LLFSMExample/vivado_project
	url = https://github.com/mipalgu/LLFSMExample.git
[submodule "firmware/ST/STM32CubeF4"]
	path = firmware/ST/STM32CubeF4
	url = https://github.com/STMicroelectronics/STM32CubeF4.git
